<!DOCTYPE html>
<html>
    <head>
        <title>Gr</title>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
        <div class="container">
            <h1>GRID!!!</h1>
            <div class="row">
                <div class="col col-2">
                    <p>Nawigacja strony</p>
                </div>
                <div class="col col-8">
                    <p>tekst przykladowy tekst przykladowy tekst przykladowytekst przykladowytekst przykladowytekst przykladowytekst przykladowytekst przykladowytekst przykladowytekst przykladowytekst przykladowytekst przykladowytekst przykladowytekst przykladowytekst przykladowytekst przykladowytekst przykladowytekst przykladowytekst przykladowytekst przykladowy<0000000000000/p>
                </div>
                <div class="col col-2">
                    <p>Lorem2 ipsum dolor sit amet sapien magna et malesuada eros, id justo a.</p>
                </div>
            </div>
            <h2>Next GRID!!!</h2>
            <div class="row">
                <div class="col col-5">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In rhoncus magna a viverra sodales. Quisque a lectus vel velit dignissim molestie
                </div>
                <div class="col col-2">
                    amet, consectetur adipiscing elit. In rhoncus magna a viverra sodales. 
                </div>
            </div>
            <h2>Col-offset</h2>
            <div class="col col-offset-1">
                amet, consectetur adipiscing elit.
            </div>
        </div>
    </body>
</html>